[submodule "wasm4"]
	path = wasm4
	url = https://github.com/aduros/wasm4.git
	branch = main
[submodule "database"]
	path = database
	url = https://github.com/libretro/libretro-database.git
	branch = master
[submodule "thumbs"]
	path = thumbs
	url = git@github.com:libretro-thumbnails/WASM-4.git
	branch = master
[submodule "libretro-content"]
	path = libretro-content
	url = git@github.com:libretro/libretro-content.git
